$lightBlack: #121212;
$grey: #A7A7A7;
$lightGrey: #212121;
$green: #1CD760;
$darkGreen: #095826;

.statistic-content {
	height: 60vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $grey;

}