$lightBlack: #121212;
$grey: #A7A7A7;
$lightGrey: #212121;
$green: #1CD760;
$darkGreen: #095826;

.home-body-header {
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;

	.home-body-nav {
		margin-inline-start: 65px;
		font-size: 2.5rem;
		font-family: circularBold;
		display: flex;
		gap: 50px;
		list-style-type: none;
		
		.home-body-nav-element {
			display: block;
			color: $grey;
			text-decoration: none;
			cursor: pointer;
			transition-duration: 0.2s;
			white-space: nowrap;

			&:hover {
				color: white;
				transform: scale(1.1);
			}
		}

		.selected {
			color: white;
			position: relative;
		}

		.selected::before {
			content: "";
			width: 100%;
			height: 3px;
			background: $green;
			color: $green;
			position: absolute;
			bottom: 0;
			transform: translateY(10px);
		}
	}

	.home-body-search-input {
		font-family: circular;
		color: white;
		width: 30%;
		padding-inline: 20px;
		padding-block: 15px;
		border-radius: 500px;
		font-size: 1rem;
		border: none;
		background-color: #242424;
		transition-duration: 0.3s;

		&:hover {
			outline: solid 2px rgba(255, 255, 255, 0.293);
		}

		&:focus {
			outline: solid 2px white;
		}
	}

	.home-body-user {
		margin-inline-end: 65px;
		width: 8%;
		min-width: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 5px 5px 15px;
		background-color: $lightBlack;
		border-radius: 500px;
		cursor: pointer;
		transition-duration: 0.2s;

		&:hover {
			background: $lightGrey;
			transform: scale(1.1);
		}

		span {
			font-size: 1.3rem;
			font-family: circularBold;
			color: white;
		}

		img {
			height: 40px;
			width: 40px;
			object-fit: cover;
			border-radius: 500px;
		}

	}
}

.home-body-content {
	margin-top: 40px;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-inline: 5%;

	.home-body-category {
		color: white;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.home-body-category-header {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			font-size: 1rem;

			.home-body-category-title {
				display: flex;
				align-items: flex-end;
				gap: 20px;
			}

			button {
				font-family: circularBold;
				font-size: 1rem;
				padding: 5px;
				border: none;
				color: $grey;
				background: none;
				cursor: pointer;
				transition-duration: 0.3s;

				&:hover {
					color: white;
				}
			}
		}
	}
}