@font-face {
	font-family: circular;
	src: url("./assets/fonts/Circular/CircularStd-Book.otf");
}
@font-face {
	font-family: circularBold;
	src: url("./assets/fonts/Circular/CircularStd-Bold.otf");
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: circular;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	margin: 0;
	padding: 0;
}
